body{
    background-image: línear-gradient(to right(20,147,220),rgb(17,54,71));
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.box{
    color:white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate (-50%, -50%);
    background-color: rgb(0,0,0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}
fieldset{
    border: 3px solid dodgerblue;
    color: rgba(32, 189, 224, 0.6);
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;/*tirar a borda*/
    border-bottom: 1px solid white;
    outline: none;/*tirar a linha de fora do input*/;
    color: white;
    font-size: 20px;
    width: 100%;
    letter-spacing: 5px /*espaço entre cada caracter no input*/;
}
.labelInput{/* animação das labels - nessa parte, as labels irão se encaixar dentro das inputs*/
    top: 0px;
    position: absoçute;/* vai ocupar apenas o elemento dela mesma*/
    left: 0px;
    pointer-events: none;/* qualquer um que eu clicar dentro do input, ele vai executar a ação*/
    transition: 5px;/* transição - para criação de efeitos de animação personalizado*/

}

/* Quando clicar no input eu quero que a label vai para cima do input - por isso é no input*/

.inputUser:focus .labelInput, /*executar uma ação na nossa label*/
.inputUser:valid .labelInput{ /*qdo o input tiver válido, eu quero que ele 
                                 execute essa ação para a 
                                 label - a informação irá permanecer
                                 no input. senão irá ficar por cima*/

    top: -20px;
    font-size: -20px;
    color: dodgerblue;
}